/* You can add global styles to this file, and also import other style files */
.scroll {
    height: 400px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
