/* You can add global styles to this file, and also import other style files */
.scroll {
    height: 400px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.img-avatar {
    width: 200px;
    height: 200px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.w200 {
    width: 200px;
}

.w75 {
    width: 75px;
}

.avatar {
    border-radius: 100%;
    width: 65px;
}

.btn-ancho {
    width: 100%;
    display: block;
}

.perfil {
    max-width: 70%;
    max-height: auto;
    cursor: pointer;
}

.oculto {
    display: none;
}